        /* =========================
   CONTACT
========================= */

        .contact-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            width: fit-content;
            max-width: 100%;
            margin: 0 auto;

            border: 1px solid #292929;

            border-radius: 12px;

            padding: 30px 40px;

            transition: .25s;
        }

        .contact-box:hover {
            border-color: #555;
            background: #101010;
        }

        .contact-label {
            color: #777;

            font-size: 13px;

            margin-bottom: 5px;
        }

        .email {
            font-size: 17px;
        }
